<div id="cart-page" class="page px-5 pt-8">
    <h2 class="text-3xl font-black text-gray-900 mb-8 italic">Savat</h2>
    <div id="cart-items" class="space-y-4 mb-8"></div>
    <div id="cart-summary" class="hidden space-y-4 mb-10">
        <div class="bg-white p-6 rounded-[2.5rem] custom-shadow border border-gray-50">
            <div class="flex justify-between text-gray-400 text-sm mb-2"><p>Subtotal</p>
                <p id="subtotal-val">0 so'm</p></div>
            <div class="flex justify-between text-gray-400 text-sm mb-4"><p>Yetkazib berish</p>
                <p class="text-green-500 font-bold italic">Bepul</p></div>
            <hr class="border-gray-50 mb-4">
            <div class="flex justify-between font-black text-2xl text-gray-900"><h3>Jami:</h3>
                <h3 id="total-val">0 so'm</h3></div>
        </div>
        <button onclick="checkout()"
                class="w-full bg-[#a8000b] text-white py-5 rounded-[2rem] font-black text-lg shadow-lg active:scale-95 transition-all">
            Buyurtma berish
        </button>
    </div>
</div>