{% load static %}
<div id="home-page" class="page active px-4 space-y-6">
    <header class="flex justify-center items-center py-0 bg-white -mx-4 mb-2 shadow-sm">
        <img src="{% static 'img/logo.png' %}" alt="Le Vanille"
             class="h-20 w-full max-w-[280px] object-scale-down">
    </header>

    <div class="relative rounded-[2rem] overflow-hidden h-32 shadow-lg bg-gradient-to-r from-[#a8000b] to-[#7a0008]">
        <div id="banner-carousel" class="w-full h-full relative">
            {% for banner in banners %}
            <img
                    src="{{ banner.image.url }}"
                    class="absolute inset-0 w-full h-full object-contain transition-opacity duration-700 {% if forloop.first %}opacity-100{% else %}opacity-0{% endif %}"
                    alt="Banner"
            >
            {% endfor %}
        </div>
    </div>

    <section>
        <div class="flex justify-between items-center mb-4">
            <h3 class="font-extrabold text-lg text-gray-800">Menyu</h3>
        </div>
        <div id="cat-list" class="flex space-x-3 overflow-x-auto no-scrollbar pb-2">
            <button onclick="filterItems('all', this)" class="category-btn active-category custom-tab">Hammasi</button>

            {% for cat in categories %}
            <button onclick="filterItems('{{ cat.name|lower }}', this)" class="category-btn custom-tab">
                {{ cat.name }}
            </button>
            {% endfor %}
        </div>
    </section>

    <div id="food-grid" class="grid grid-cols-2 gap-4 pb-10"></div>
</div>