{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{% block title %}Le Vanille{% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body class="pb-28">

<main>
    {% block content %}{% endblock %}
</main>

{% include 'includes/navigation.html' %}

<script src="{% static 'js/app.js' %}?v=1.1.4"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
